.row{
  height:100%;
}
.right-border div{
  border-right: 1px dashed #333;
}

.boks {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  font-size: 50px;
}

#tokenLoc::before{
    content: attr(data-content);
    transition: opacity 1s;
    opacity: 1;
}

#tokenLoc.hide::before{
  opacity: 0;
}
